body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: rgb(195, 192, 192);*/
    background-image: url("green.png");
} 

.container {
    max-width:1000px;
    margin: 30px auto;
    padding:20px;
    background-color:whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    line-height: 1.5;
}
.buttons{
    margin-top: 22px;
}
.buttons button{
    padding:9px 14px;
    border-radius: 15px;
    color:white;
    background-color: rgb(41, 35, 35);
    font-weight:100;
    font-size: 15px;
    margin: 0 3 px;
}
.buttons button:hover{
    background-color: white;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.form-group textarea {
    height: 150px;
}

.contact-info {
    margin-top: 40px;
}

.contact-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info .label {
    display: inline-block;
    width: 120px;
    text-align: right;
}
.contact-links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #3731d7;
}
